@import url('https://fonts.google.com/specimen/Overpass');
body{
    background-color: white;
    
    padding-left: 30%;

}

.buttons{
<<<<<<< HEAD
    list-style-type: none;
    width: 30px; height: 30px;
    background-color: hsla(215, 27%, 33%, 0.719);
    border:solid hsla(215, 27%, 33%, 0.719) 5px;
    border-radius: 100%;
    text-align: center;
    color: hsl(217, 12%, 63%);
    font-size: 0.85rem;
    margin-top: 2px;padding-top: 5px;
}
=======
    list-style-type: none; display:flex;
    width: 200px; height: 10px;
    background-color: white;
    margin:auto 
>>>>>>> 7ecf6a77500de825fa97cb688f4756d37b36d176
.container{
    width: 330px; height: 300px; 
    background-color:hsl(213, 19%, 18%);
    color: white;
    text-align: left;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    border-radius: 20px;
<<<<<<< HEAD
    box-sizing: border-box;
    padding: 10px;
=======
    padding-bottom: -20px;
    
}

#icon{
    width:350px; height:100px ;
    background-color: brown;
    border-radius:25px ;
>>>>>>> 7ecf6a77500de825fa97cb688f4756d37b36d176
}

button{
    width: 300px;height: 40px;
    background-color: hsl(25, 97%, 53%);
    border-radius: 25px;
    border-style: none;
<<<<<<< HEAD
    margin-left: 5px;
    color: white;
    font-weight: 400;font-size: 0.9rem;
    letter-spacing: 1px;
    
    
}
img{
    
    border:solid hsla(215, 27%, 33%, 0.719) 10px;
    border-radius: 100%;
    background-color: hsla(215, 27%, 33%, 0.719);
    height: 20px;width: 20px;
    margin-bottom:-5px;margin-top: 5px;

}
ul{
    display: flex;justify-content: space-around;
    margin-left: -30px;margin-right: 20px;
}
.round{
    width: auto;height: auto;
    margin: 5px 15px;
    
}
h1{font-size: 1.1rem;margin-bottom:-5px;}p{font-size: 0.8rem;font-weight: 100;}
=======

    
}
.text{
}
>>>>>>> 7ecf6a77500de825fa97cb688f4756d37b36d176
